

.root {
    -fx-background-color: linear-gradient(to left, #fea5a6, #fbc7be);
}

.text {
    -fx-fill: gray;
    -fx-font-weight: bold;
}

TextField {
    -fx-background-color: transparent;
    -fx-border-color: rgba(0,0,0,0.2);
    -fx-border-color: white;
    -fx-pref-height: 40px;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
}

TextField:focused {
    -fx-background-color: white;
    -fx-border-color: yellow;
    -fx-pref-height: 40px;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
}

Button {
    -fx-background-color: #4e8752;
    -fx-min-height: 40px;
    -fx-min-width: 80px;
    -fx-cursor: hand;
}

Button:pressed {

}

Button .text {
    -fx-fill: white;
}

.list-view, .list-view .content, .list-view .viewport {
    -fx-background-color: transparent;
    -fx-fixed-cell-size: 40px;
}

.list-cell {
    -fx-paddding: 10px;
}

.list-cell:focused {
    -fx-background-color: transparent;
    -fx-text-color: blue;
}

.list-cell .delete {
    -fx-border-color: #b54747;
    -fx-background-color: transparent;
    -fx-max-width: 40px;
    -fx-pref-width: 40px;
    -fx-min-width: 40px;
    -fx-border-radius:100px;
    -fx-border-insets: 5px;
}

.list-cell:odd, .list-cell:even {
    -fx-background-color: transparent;
}

.list-cell .delete .text {
    -fx-fill: #b54747;
}
